# Local testing values for the POJ MariaDB workshop.
# Do not commit real credentials.
JOB_ID="poj-mariadb-local-01"
LAB_PREFIX="pojdb"
STUDENT_COUNT=1
TARGET_STUDENT_INDICES="1"
DROOT_PASSWORD=""
SSH_PUB_KEY=""
DO_TOKEN=""
DO_REGION="sgp1"
DO_DROPLET_SIZE="2cpu-4gb"
DO_SSH_KEYS="58950506,48486622,48486618"
DO_GOLDEN_IMAGE="ckadlab-golden-image-v3"
USE_GOLDEN_IMAGE="true"
AZURE_CLIENT_ID=""
AZURE_SECRET=""
AZURE_TENANT=""
AZURE_SUBSCRIPTION_ID=""
AZURE_DNS_ZONE_NAME="steven.asia"
AZURE_DNS_ZONE_RG="training-dns-zone-rg"
MARIADB_IMAGE="mariadb:11.4"
MARIADB_ROOT_PASSWORD="PojMariaDBRoot2026"
MARIADB_APP_PASSWORD="PojApp2026"
